/* Tablet Portrait: 768px */
@media screen and (min-width: 768px) {

    :root {
        --child-section-width: 85vw;
    }


    /* NAV BAR */
    .nav-title-short {
        display: none;
    }

    .nav-title {
        display: flex;
    }


    /* HOME SECTION */
    .logo-pic-container {
        height: var(--two-fifty-px);
    }


    /* ABOUT SECTION */
    .about_pic-container {
        max-width: var(--two-fifty-px);
    }



    /* READ MORE SECTION */
    .read-more-img {
        max-width: var(--two-fifty-px);
    }


    /* PROJECT SECTION */
    .project-container {
        padding: 1rem 1.5rem;
    }

    .code-tech-container {
        flex-direction: row;
    }

    .source-code-btn {
        display: flex;
        flex-direction: row;
        align-self: top;
        align-items: center;
        gap: 1rem;
    }

    .tech-container {
        height: fit-content;
        width: 60%;
    }
    

    .carousel-container {
        flex-direction: row;
    }

    .carousel-img {
        max-width: var(--three-fifty-px);
    }


    /* CONTACT SECTION */
    .contact-body-container {
        flex-direction: row;
    }

    .contact-body-container .logo-pic-container {
        max-width: var(--two-fifty-px);
    }
}

/* Tablet Landscape / Small Laptops: 1024px */
@media screen and (min-width: 1024px) {

    :root {
        --child-section-width: 80vw;
    }

    /* NAV BAR */
    #hamburger-nav {
        display: none;
    }

    .full-nav-links {
        display: flex;
    }


    /* HOME SECTION */
    .logo-pic-container {
        height: var(--three-hundred-px);
    }


    /* ABOUT SECTION */
    .about-detail-1 {
        flex-direction: row;
    }

    .about-text-container {
        width: 80%;
    }


    /* JOURNEY SECTION */
    .timeline-container::after {
        left: 50%;
        margin-left: -0.15rem;
    }

    .card-container {
        width: 50%;
    }

    /* odd cards positioning */
    .odd-card {
        left: 50%;
    }

    .odd-card .event-icon {
        left: -1.25rem;
    }

    .odd-card .event-date {
        position: absolute;
        width: 100;
        top: 1.5rem;
        font-weight: 500;
        right: 100%;
        margin-right: 6.5rem;
    }

    /* even cards positioning */
    .even-card {
        justify-content: right;
        padding-right: 3rem;;
        padding-left: 0rem;
        left: 0;
        right: auto;
    }

    .even-card .event-icon {
        left: auto;
        right: -1.25rem;
    }

    .even-card .event-arrow {
        right: 0.8rem;
        left: auto;
    }

    .even-card .event-date {
        position: absolute;
        text-align: left;
        width: 100%;
        right: auto;
        left: 100%;
        margin-left: 6.5rem;
    }

    /* event types */
    /* school event -green */
    .school-event.even-card .event-card::before {
        background: linear-gradient(to left, var(--light-green), var(--charcoal-grey));
    }
    
    .school-event.even-card .event-arrow {
        border-right-color: transparent;
        border-left-color: var(--dark-green);
    }

    /* work event - blue */
    .work-event.even-card .event-card::before {
        background: linear-gradient(to left, var(--light-blue), var(--charcoal-grey));
    }
    
    .work-event.even-card .event-arrow {
        border-right-color: transparent;
        border-left-color: var(--dark-blue);
    }

    /* internship event - purple */
    .internship-event.even-card .event-card::before {
        background: linear-gradient(to left, var(--light-purple), var(--charcoal-grey));
    }
    
    .internship-event.even-card .event-arrow {
        border-right-color: transparent;
        border-left-color: var(--dark-purple);
    }

    /* CONTACT SECTION */
    .error-container {
        flex-direction: row;
    }
}


/* Desktop Small: 1280px */
@media screen and (min-width: 1280px) {

    :root {
        --child-section-width: 70vw;
    }
}

/* Desktop Large: 1440px and above */
@media screen and (min-width: 1440px) {
    
    :root {
        --child-section-width: 55vw;
    }
}