@media screen and (max-width: 950px){
    #full-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    main {
        margin: 0 10rem;
    }

    section {
        max-width: 80vw;
    }
}