@media screen and (max-width: 950px){
    
    /* NAVIGATION BAR */
    
    #full-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }



    /* PARENT, CHILD SECTIONS */

    .parent-section {
        margin: 0 20vw;
    }

    .child-section {
        max-width: 90vw;
    }

    .child-section::after {
        width: 100%;
    }



    /* ABOUT SECTION */

    .about-detail-1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .about_pic-container {
        align-self: center;
        width: 70%;
        max-width: 18rem;
    }

    .about-text-container {
        width: 100%;
    }

    .text-container-1 {
        width: 100%;
    }



    /* SKILLS SECTION */

    .code-tech-container {
        flex-direction: column;
    }



    /* PROJECT SECTION */

    .project-carousel {
        flex-direction: column;
    }

    .carousel-img {
        max-height: 15rem;
    }

    .event-date {
        position: static;
    }


    
    /* JOURNEY SECTION */    
    .timeline-container::after {
        left: 0;
        margin-left: 2rem;
    }

    .card-container {
        width: fit-content;
        max-width: 90%;
        position: relative;
    }

    /* Make sure the nth-child styles do not override specific backgrounds */
    .card-container:nth-child(2n-1), 
    .card-container:nth-child(2n) {
        left: 2rem;
        justify-content: left;
        padding-right: 0;
        padding-left: 3rem;

        .event-icon {
            left: -1.15rem;
        }

        .event-arrow {
            left: 2rem;
            right: auto;
            border-left: none;
            z-index: -1;
        }
        
        .event-date {
            text-align: right;
            margin-right: auto;
            margin-left: auto;
        }
    }



    /* Green Event Type Border */
    .greenBackgroundOdd::before,
    .greenBackgroundEven::before {
        background: linear-gradient(to right, var(--light-green), var(--charcoal-grey));
        position: absolute;
        top: -0.2rem;
        left: -0.2rem;
        right: -0.2rem;
        bottom: -0.2rem;
        border-radius: inherit;
        z-index: -1;
    }

    /* Blue Event Type Border */
    .blueBackgroundOdd::before,
    .blueBackgroundEven::before {
        background: linear-gradient(to right, var(--light-blue), var(--charcoal-grey));
        position: absolute;
        top: -0.2rem;
        left: -0.2rem;
        right: -0.2rem;
        bottom: -0.2rem;
        border-radius: inherit;
        z-index: -1;
    }

    /* Purple Event Type Border */
    .purpleBackgroundOdd::before,
    .purpleBackgroundEven::before {
        background: linear-gradient(to right, var(--light-purple), var(--charcoal-grey));
        position: absolute;
        top: -0.2rem;
        left: -0.2rem;
        right: -0.2rem;
        bottom: -0.2rem;
        border-radius: inherit;
        z-index: -1;
    }


}