@media screen and (max-width: 950px){
    #full-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .parent-section {
        margin: 0 10rem;
    }

    .child-section {
        max-width: 80vw;
    }

    .about-detail-1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .about_pic-container {
        align-self: center;
        width: 100%;
        max-width: 18.75rem;
    }

    .text-container-1 {
        width: 100%;
    }
}