/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

:root {
    --background: rgb(30,30,31);
    --foreground: rgb(43, 43, 44);
    --border: rgb(68, 68, 68);
    --highlight-primary: rgb(219, 64, 64, 0.959);
    --highlight-secondary: rgb(223, 149, 149);
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(199, 199, 199);
    --transition-speed: 200ms ease-in-out;
}

/* Reset margin and padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 70px;
    background: var(--background);
}

/* Change scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--foreground);
}

body::-webkit-scrollbar-thumb {
    background: var(--highlight-secondary);
}

h1, h2, h3, h4 {
    color: var(--text-primary)
}

p {
    color: var(--text-secondary);
}



/* TRANSITION */

a, .btn {
    transition: var(--transition-speed);
}



/* NAVIGATION */

/* Title */
.title {
    padding: 1rem;
    color: var(--text-primary);
    font-size: 1.5rem;
}

.title:hover {
    cursor: default;
}

/* General Nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: var(--foreground);
    border-bottom: 2px solid var(--border);
}


/* Full Nav */
.navbar-links {
    display: flex;
    margin: 0;
    padding: 1rem;
    gap: 2rem;
    list-style: none;
}

.navbar-links a {
    display: block;
    padding: 0.5rem;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    color: var(--highlight-secondary);
}



/* Full Nav */
.navbar-links {
    display: flex;
}


/* Hamburger Nav */
#hamburger-nav {
    display: none;
}


/* Hamburger Menu */
.hamburger-menu {
    position: relative;
    display: inline-block;
    padding: 1rem;
}
.hamburger-btn {
    position: relative;
    flex-direction: column;
    margin-left: auto;
    width: 31px;
    height: 21px;
    cursor: pointer;
}

.hamburger-btn .bar {
    height: 2px;
    width: 100%;
    background: var(--text-primary);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition-speed);
}

.hamburger-btn .bar:nth-child(1) {
    top: 25%;
}
.hamburger-btn .bar:nth-child(3) {
    top: 75%;
}
.hamburger-btn:hover {
    .bar {
        background: var(--highlight-secondary);
    } 
}

/* hamburger menu change to X when active */
.hamburger-btn.active .bar:nth-child(1) {
    top: 50%;
    /* rotate and move bar in x, y position */
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--highlight-secondary);
}
.hamburger-btn.active .bar:nth-child(2) {
    transform: opacity(0);
    width: 0;
}
.hamburger-btn.active .bar:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: var(--highlight-secondary);
}

/* Hamburger Links */
.hamburger-links {
    position: absolute;  
    top: 100%;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: var(--transition-speed);
}

.hamburger-links a {
    display: block;
    padding: .5rem;
    color: var(--text-primary);
    font-size: 1rem;
    text-decoration: none;
    transition: var(--transition-speed);
    text-align: center;
}

.hamburger-links li {
    list-style: none;
}

.hamburger-links a:hover {
    color: var(--highlight-secondary);
}

/* active hamburger links */
.hamburger-links.active {
    max-height: 300px;
    background: var(--foreground);
    border-bottom: 2px solid var(--border);
    /* opacity: 80%; */
}




/* Sections */
section {
    width: 300px;
    height: 500px;
}

/* Home */
#home {
    background: rgb(152,111,255)
}

/* About */
#about {
    background: rgb(111,157,255)
}

/* Skills */
#skills {
    background: rgb(126,255,111)
}

/* Projects */
#projects {
    background: rgb(255,244,111)
}

/* Journey */
#journey {
    background: rgb(255,150,111)
}

/* Contact */
#contact {
    background: rgb(255,111,111)
}