/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');


/* Reset margin and padding*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(30,30,31);
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    color: rgb(250, 250, 250);
}

p {
    color: rgb(214, 214, 214);
}



/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}



/* NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(43, 43, 44);
    border-bottom: 2px solid rgb(56, 56, 56);
    top: 0;
    width: 100%;
    /* height: 10vh; */
}

.title {
    padding: 1rem;
    color: rgb(250, 250, 250);
    font-size: 1.5rem;
}

.title:hover {
    cursor: default;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    display: block;
    padding: 1rem;
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 1rem;
    /* text-decoration-color: rgb(250, 250, 250); */
}

.navbar-links a:hover {
    color: rgb(223, 149, 163);
    /* color: rgb(255, 65, 103); */
}

.hamburger-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-btn .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
} 

.hamburger-btn:hover {
    .bar {
        background-color: rgb(223, 149, 163);
    } 
}




/* Sections */
section {
    width: 300px;
    height: 100px;
}

/* Home */
#home {
    background-color: rgb(152,111,255)
}

/* About */
#about {
    background-color: rgb(111,157,255)
}

/* Skills */
#skills {
    background-color: rgb(126,255,111)
}

/* Projects */
#projects {
    background-color: rgb(255,244,111)
}

/* Journey */
#journey {
    background-color: rgb(255,150,111)
}

/* Contact */
#contact {
    background-color: rgb(255,111,111)
}