/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

:root {

    /* color */
    --dark-grey: rgb(28, 27, 27);
    --charcoal-grey: rgb(43, 43, 44);
    --ash-grey: rgb(213, 206, 207);
    --burgundy-red: rgb(160, 30, 39);
    --burgundy-pink: rgb(193, 86, 102);
    --light-pink: rgb(233, 160, 169);
    --dark-gold: rgb(210, 161, 87);
    --nude-gold: rgb(255, 204, 130);
    --nude-grey: rgb(172, 147, 129); 
    --pure-white: rgb(255, 255, 255);
    --transition-speed: 200ms ease-in-out;


    /* size */
    --three-hundred-px: 18.75rem;
}


/* Reset margin and padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Scroll behavior */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark-grey);
}

/* Change scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--dark-grey);
}

body::-webkit-scrollbar-thumb {
    background: var(--nude-gold);
}


/* Font Tags */
h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--pure-white);
    cursor: default;
}

h2, h3, h4 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--burgundy-pink);
    cursor: default;
}

p {
    font-size: 1rem;
    color: var(--ash-grey);
    cursor: default;
}

/* images */
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



/* TRANSITION */
a, .btn {
    transition: var(--transition-speed);
}



/* NAVIGATION */

/* General Nav */
nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

.nav-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: var(--charcoal-grey);
    border-bottom: 2px solid var(--nude-grey);
}

/* Title */
.nav-title {
    padding: 1rem;
    color: var(--pure-white);
    font-size: 1.5rem;
}


/* Full Nav */
.full-nav-links {
    display: flex;
    margin: 0;
    padding: 1rem;
    gap: 2rem;
    list-style: none;
}

.full-nav-links a {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--pure-white);
    text-decoration: none;
}

.full-nav-links a:hover {
    color: var(--light-pink);
}

/* nav-links */
.nav-links a.active {
    color: var(--nude-gold);
    font-weight: 900;
}


/* Hamburger Nav */
#hamburger-nav {
    display: none;
}


/* Hamburger Menu */
.hamburger-menu {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 1.5rem;
}

.hamburger-btn {
    position: relative;
    flex-direction: column;
    margin-left: auto;
    width: 33px;
    height: 30px;
    cursor: pointer;
}

.hamburger-btn .bar {
    height: 2px;
    width: 100%;
    background: var(--pure-white);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition-speed);
}

.hamburger-btn .bar:nth-child(1) {
    top: 25%;
}

.hamburger-btn .bar:nth-child(3) {
    top: 75%;
}

.hamburger-btn:hover {
    .bar {
        background: var(--light-pink);
    } 
}

/* hamburger menu change to X when active */
.hamburger-btn.active .bar:nth-child(1) {
    top: 50%;
    /* rotate and move bar in x, y position */
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--nude-gold);
}

.hamburger-btn.active .bar:nth-child(2) {
    transform: opacity(0);
    width: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: var(--nude-gold);
}

/* Hamburger Links */
.hamburger-links {
    position: absolute;  
    top: 100%;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: var(--transition-speed);
}

.hamburger-links a {
    display: block;
    padding: .5rem;
    transition: var(--transition-speed);
    text-align: center;
    font-size: 1rem;
    color: var(--pure-white);
    text-decoration: none;
}

.hamburger-links li {
    list-style: none;
}

.hamburger-links a:hover {
    color: var(--light-pink);
}

.hamburger-links.active {
    max-height: var(--three-hundred-px);
    background: var(--charcoal-grey);
    border-bottom: 2px solid var(--nude-grey);
}



/* SECTIONS */

/* General Section */

.parent-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20rem;
}

.child-section {
    display: flex;
    padding-top: calc(75px + 3rem);
    padding-bottom: 3rem;
    height: fit-content;
    min-height: 100vh;
    max-width: 50vw;
    align-items: center;
    transition: var(--transition-speed);
}

.child-section::after {
    position: relative;
    content: "";
    bottom: -4rem;
    height: 2px;
    width: 50%;
    background: linear-gradient(to right, var(--dark-grey), var(--nude-grey), var(--dark-grey));
    transition: var(--transition-speed);
}



/* HOME SECTION */

#home {
    display: flex;
    flex-direction: column;
}

.home_pic-container {
    display: flex;
    height: var(--three-hundred-px);
    margin-bottom: 3rem;
}

.home-container {
    align-self: center;
    text-align: center;
    align-items: center;
}

.section_title {
    position: relative;
    margin-bottom: 4rem;
}

.section_title::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 5px;
    bottom: -30px;
    left: 50%;
    margin-left: -39px;
    border-radius: 3px;
    background: var(--nude-gold);
    margin-bottom: 1rem;
}

.section_title-2 {
    margin-bottom: 1rem;
}

.section_text_p {
    margin-bottom: 2rem;
    text-align: left;
}


/* Social Buttons */

.btn {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    border: 1px solid;
    font-size: 1rem;
    border-radius: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition-speed);
}

.social-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.social-btn {
    width: 8rem;
}

.btn-color-1 {
    color: var(--dark-grey);
    background-color: var(--dark-gold);
    border-color: var(--nude-gold);
}

.btn-color-1:hover {
    color: var(--charcoal-grey);
    background-color: var(--light-pink);
    border-color: var(--burgundy-pink);
}

.btn-color-2 {
    color: var(--nude-gold);
    background-color: var(--dark-grey);
    border-color: var(--nude-gold);
}

.btn-color-2:hover {
    color: var(--burgundy-pink);
    background-color: var(--charcoal-grey);
    border-color: var(--light-pink);
}


/* Social / Logo */
.social-site-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    height: 2.5rem;
    width: 10rem;
    gap: 2rem;
}

.social-logo {
    display: flex;
    height: 2.5rem;
    cursor: pointer;
}



/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
}

.section_intro-text {
    margin-top: 1rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.about-detail-1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: fit-content;
    /* width: 100%; */
    gap: 2rem;
}

.about_pic-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-self: center;
}

.about-pic {
    border-radius: 2rem;
}

.text-container-1 {
    height: fit-content;
    width: 60%;
}

.highlight-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--light-pink);
}

.about-detail-2 {
    display: flex;
    /* width: 100%; */
}

/* Read More btn */
.read-more-btn-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/* READ MORE SECTION*/

#read-more {
    display: none;
    flex-direction: column;
    align-items: center;
}

.read-more-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.read-more-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    height: var(--three-hundred-px);
    margin-bottom: 4rem;
}

.read-more-pic {
    border-radius: 0.5rem;
}

.enlarge-image {
    transition: var(--transition-speed);
    transform: none;
}

.enlarge-image:hover {
    transform: translateY(0px) scale(1.1) translateZ(0px);
}

/* Read Less btn */
.read-less-btn-container {
    margin-bottom: 2rem;
}



/* SKILLS SECTION */

#skills {
    display: flex;
    flex-direction: column;
}

/* filter skills */
.filter-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.filter-skills h2 {
    margin-right: 0.5rem;
    font-size: 1.50rem;
    font-weight: 500;
    padding: 0.75rem;
}

.filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.filter-options li {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: 0.5rem;
    min-width: 3rem;
    max-width: 8rem;
    cursor: pointer;
}

.filter-options a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--ash-grey);
    text-decoration: none;
}

.filter-options a:hover {
    color: var(--light-pink);
}

.filter-options a.active {
    font-weight: 600;
    color: var(--nude-gold);
}

/* skills card */
.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    /* start with visible */
    opacity: 1; 

    /* apply transition to opacity */
    transition: opacity 0.5s ease; 
}

.skill-container.hide-skillCont {
    opacity: 0;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    background-color: var(--charcoal-grey);
    border-color: var(--charcoal-grey);
    border-style: solid;
    border-width: 0.10rem;
    border-radius: 0.75rem;
    height: 7.5rem;
    transform: none;
    transition: var(--transition-speed);
}

.skill-card:hover {
    transform: translateY(0px) scale(1.1) translateZ(0px);
    border-color: var(--light-pink);
}

.skill-img-container {
    margin-top: auto;
    max-width: 4rem;
    max-height: 3rem;
}

.skill-name-container {
    margin-top: auto;
}

.skill-name-container p {
    margin-top: 0.5rem;
    color: var(--pure-white);
    font-weight: 600;
}



/* PROJECTS SECTION */

#projects {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .project-container::after {
    position: relative;
    content: "";
    align-self: center;
    height: 2px;
    width: 20%;
    background: linear-gradient(to bottom, var(--dark-grey), var(--nude-grey), var(--dark-grey));
    background-size: 15px 10px; 
    background-position: left, center, right;
    transition: var(--transition-speed);
} */

/* project contributors */

.contributor-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.contributors_text {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--light-pink);
}

.contributor-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0.5rem;
    margin-left: 3rem;
}

.contributor-card::before {
    display: inline-block;
    content: "";
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--ash-grey);
}

.contributor-contact-container {
    display: flex;
    height: 2rem;
    cursor: pointer;
}


/* project code-tech-container */
.code-tech-container {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin-bottom: 2rem;
}

/* project source code */

.source-code-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.btn-logo {
    display: flex;
    height: 2rem;
    max-width: 2rem;
}

/* project tech container */

.tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: auto;
    height: fit-content;
    width: fit-content;
    gap: 1rem;
}


.tech-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    gap: 0.5rem;
}

.tech-img-container {
    width: 3rem;
    max-height: 3rem;
    margin-top: auto;
}

.tech-name-container {
    margin-top: auto;
}

/* project img container */

.project-gallery {
    display: flex;
    justify-content: center;
    /* height: 30rem; */
    margin-bottom: 2rem;
}

.gallery-container {
    display: flex;
    height: 30rem;
}

.gallery-img {
    display: flex;
    height: 30rem;
}




/* Journey */
#journey {
    display: flex;
    flex-direction: column;

}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;

}
